.nav_elements {
  color: #ffffff;
  text-decoration: none;
}

.movie_cards {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 16px;
  row-gap: 27px;
  margin-bottom: 250px;
}

.movie_card {
  height: 440px;
  width: 292px;
}

.movie_card:hover {
  transition: .3s;
  transform: scale(1.1);
}

span.css-1c99szj-MuiRating-icon {
  color: #faaf00;
}