.nav_elements {
  color: #ffffff;
  text-decoration: none;
}

.movie_cards {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 16px;
  row-gap: 27px;
  padding-bottom: 100px;
  cursor: pointer;
}

.movie_card {
  height: 440px;
  width: 292px;
}

.movie_card:hover {
  transition: .3s;
  transform: scale(1.1);
}

.full_description {
  z-index: 1;
  width: 632px;
}

.search_block {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  gap: 20px;
}

.MuiButton-textPrimary {
  color: #fff !important;
}